<div class="container layout">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="name">Nicholas Moretti</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="job">Technologist, Engineer and Researcher</div>
          <div class="industry">Artificial Intelligence, Cognitive Technology, Space & Defence</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 locationWrapper">
          <i class="fas fa-map-marker-alt"></i>
          <div class="location">
            &nbsp; Sydney, Australia
          </div>
        </div>
      </div>

      <div class="row contentWrapper">
        <div class="col-md-12">
          <app-section title="Education" [subsections]="educationSubsections" [endDateEnable]='false'></app-section>
          <app-section title="Professional Experience" [subsections]="experienceSubsections"></app-section>
          <app-section title="Volunteer Experience" [subsections]="volunteerSubsections"></app-section>
          <app-section title="Additional Affiliations" [subsections]="affiliationsSubsections" [endDateEnable]='false'></app-section>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-sunburst></app-sunburst>
    </div>
  </div>
  <div class="row">
    <div class="col-12 footer">
      To get in touch message me on LinkedIn.
    </div>
  </div>

  <div class="row">
    <div class="col-12 icons">
      <a href="https://www.linkedin.com/in/nicholas-moretti" target="_blank">
        <span class="icons">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 footer">
      I built this website myself, checkout the code <a href="https://github.com/swagbowl/professional-website" target="_blank">here</a>.
    </div>
  </div>
</div>
