<div class="container layout">
  <div class="row">
    <div class="col-xl-6 background">
      <div class="row">
        <div class="col-xl-12">
          <div class="name">Nicholas Moretti</div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="job">Technologist, Engineer and Researcher</div>
          <div class="industry">Cognitive, Emerging Technology, Space & Defence</div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 locationWrapper">
          <i class="fas fa-map-marker-alt"></i>
          <div class="location">
            &nbsp; Sydney, Australia
          </div>
        </div>
      </div>

      <div class="row contentWrapper">
        <div class="col-xl-12">
          <app-section title="Education" [subsections]="educationSubsection" [endDateEnable]='false'></app-section>
          <app-section title="Professional Experience" [subsections]="experienceSubsection"></app-section>
          <app-section title="Volunteer Experience" [subsections]="volunteerSubsection"></app-section>
          <app-section title="Additional Affiliations" [subsections]="affiliationsSubsection" [endDateEnable]='false'></app-section>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <app-sunburst [data]="sunburstData"></app-sunburst>
    </div>
  </div>

  <div class="row pt-5">
    <app-contact></app-contact>
  </div>

  <div class="row pt-5">
    <div class="col-12 icons">
      <a href="https://www.linkedin.com/in/nicholas-moretti" target="_blank">
        <span class="icons">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 footer">
      I built this website myself, checkout the code <a href="https://github.com/morespaghetti/professional-website" target="_blank">here</a>.
    </div>
  </div>
</div>
