<div class="container layout">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="name">Nicholas Moretti</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="job">Technologist, Engineer and Researcher</div>
          <div class="industry">Artificial Intelligence, Congetitive Technology, Space & Defence</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 locationWrapper">
          <i class="fas fa-map-marker-alt"></i>
          <div class="location">
            &nbsp; Sydney, Australia
          </div>
        </div>
      </div>

      <div class="row contentWrapper">
        <div class="col-md-12">
          <app-section title="Education" [subsections]="educationSubsections" [endDateEnable]='false'></app-section>
          <app-section title="Professional Experience" [subsections]="experienceSubsections"></app-section>
          <app-section title="Volunteer Experience" [subsections]="volunteerSubsections"></app-section>
          <app-section title="Additional Affiliations" [subsections]="affiliationsSubsections" [endDateEnable]='false'></app-section>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <app-sunburst></app-sunburst>
    </div>
  </div>
  <div class="row">
    <div class="col-12 footer">
      To get in touch message me on LinkedIn.
    </div>
  </div>

  <div class="row">
    <div class="col-12 icons">
      <a href="https://www.linkedin.com/in/nicholas-moretti" target="_blank">
        <span class="icons">
          <i class="fab fa-linkedin"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 footer">
      I built this website myself, checkout the code <a href="https://github.com/swagbowl/professional-website" target="_blank">here</a>.
    </div>
  </div>
</div>

<!--
<div class="textDiv">
<h1 class="heading">Nicholas Moretti</h1>

<h3 class="subHeading">
Engineer and Researcher <br>
Space, Defence and Emerging Technology <br>
</h3>
<p class="location">
Sydney, Australia <br>
</p>

<p class="body">
  <b>Education</b><br>
  Massachusetts Institute of Technology <br>
  University of Adelaide (B. Eng. with First Class Honours) <br>
  Pembroke High School (SACE) <br>
</p>

<p class="body">
  <b>Professional Experience</b><br>
  KPMG - Management Consultant <br>
  Inovor Technologies - Space Technologies Program Lead <br>
  Inovor Technologies - Aerospace Engineer
</p>

<p class="body">
  <b>Awards and Accolades</b><br>
  South Australian Space Industry Centre Scholarship <br>
  Startup Catalyst Future Founders Mission <br>
  Dean's Merit Award <br>
  Dr. Schenider Prize in Aeronautical Engineering <br>
  Australian Student Prize

</p>
-->

